h2{
    color: black;
}
p{
    
    color: brown;
    background-color: bisque;
}
div{
    padding: 10px;
    background-color: tomato;
    margin: 10px;
    box-shadow: 10px 10px 10px rgb(107, 25, 10);
}
